RewriteEngine On
RewriteBase /

# /static/* must not be rewritten any further
RewriteRule ^static\/ - [L]

# rewrite PHP files to index.php
RewriteRule \.php$ index.php [L]

# assume that the rest are static files
RewriteRule ^(.+)$ /static/$1 [L]
