body {
    font-family: sans-serif;
    font-size: 12pt;
}

a {
    text-decoration: none;
}

.header {
    border: 2px solid black;
    padding: 10px;
    margin: 10px 10px 20px 10px;
}

.header span {
    margin-right: 20px;
}

.header img {
    vertical-align: middle;
    height: 2em;
    margin-right: 5px;
}

.content {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

.error {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

.error p.title {
    color: red;
    font-weight: bold;
}

.error p.message {
    font-family: monospace;
}

.request_feedback {
    padding: 10px;
    margin: 10px;
}

.request_feedback.success {
    border: 2px solid green;
}

.request_feedback.failure {
    border: 2px solid red;
}

.actions {
    margin-top: 30px;
}

table.files th,
table.files td {
    padding: 0px 15px 0px 15px;
    text-align: left;
}

table.files td.up {
    font-size: 20pt;
}

table.files td img {
    height: 2em;
}

table.files td.modified {
    font-family: monospace;
}

ul.breadcrumbs {
    list-style: none;
    overflow: hidden;
    padding: 0px;
    margin-bottom: 2em;
    height: 2em;
    line-height: 2em;
}

ul.breadcrumbs li {
    float: left;
    padding: 0px 10px 0px 0px;
}

ul.breadcrumbs li img {
    height: 2em;
}

.hidden {
    display: none;
}

dialog .item_name {
    font-style: italic;
    color: blue;
}
