<ul class="breadcrumbs">
    <li><a href="/drive"><img src="/img/home.svg" /></a></li>
    <li><a href="/drive">Drive</a></li>
    {% for bc in breadcrumbs %}
    <li><img src="/img/right_arrow.svg" /></li>
    <li><a href="{{ bc.url}}">{{ bc.name }}</a></li>
    {% endfor %}
</ul>

<table class="files">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Name</th>
            <th scope="col">Size</th>
            <th scope="col">Modified</th>
        </tr>
    </thead>
    <tbody>
        {% for file in files %}
        <tr>
            <td><a href="{{ file.url}}"><img src="/img/{{ file.type }}.svg" /></a></td>
            <td><a href="{{ file.url}}">{{ file.name }}</a></td>
            <td>{{ file.size }}</td>
            <td class="modified">{{ file.modified }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
