<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/js/ui.js"></script>
    <title>OneDrive Access from PHP</title>
</head>

<body>
    <div class="header">
        <span><a href="/drive"><img src="/img/home.svg" />Home</a></span>
        <span><a href="/login"><img src="/img/login.svg" />Login</a></span>
        <span><a href="/logout"><img src="/img/logout.svg" />Logout</a></span>
    </div>

    <div class="content">
        {{content|raw}}
    </div>
</body>

</html>
