<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
    <title>OneDrive Access from PHP</title>
</head>

<body>
    <p>
        <a href="/">/</a><br />
        <a href="/drive">/drive</a><br />
        <a href="/login">/login</a><br />
        <a href="/logout">/logout</a>
    </p>

    <div class="content">
        {{content|raw}}
    </div>
</body>

</html>
