{% if request_feedback %}
{% set success = request_feedback[0] ? "success" : "failure" %}
{% set message = request_feedback[1] %}
<div class="request_feedback {{ success }}">
    {{ message }}
</div>
{% endif %}

<ul class="breadcrumbs">
    <li><a href="/drive"><img src="/img/home.svg" /></a></li>
    {% for bc in breadcrumbs %}
    {% if bc.url %}
    <li><a href="{{ bc.url }}">{{ bc.name }}</a></li>
    {% else %}
    <li>{{ bc.name }}</li>
    {% endif %}
    {% if not loop.last %}<li><img src="/img/right_arrow.svg" /></li>{% endif %}
    {% endfor %}
</ul>

<table class="files">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Name</th>
            <th scope="col" class="right">Size</th>
            <th scope="col" class="right">Last Modified</th>
            <th scope="col">by</th>
            <th scope="col">Sharing</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% if breadcrumbs|length > 1 %}
        {% set parent = breadcrumbs[-2:-1][0] %}
        <tr>
            <td><a href="{{ parent.url }}"><img src="/img/up_arrow.svg" /></a></td>
            <td colspan="6" class="up"><a href="{{ parent.url }}">..</a></td>
        </tr>
        {% endif %}
        {% for file in files %}
        <tr>
            <td><a href="{{ file.url }}"><img src="/img/{{ file.icon }}.svg" alt="{{ file.type_description }}" title="{{ file.type_description }}" /></a></td>
            <td><a href="{{ file.url }}">{{ file.name }}</a></td>
            <td class="right">{{ file.size }}</td>
            <td class="right">{{ file.modified_date }}</td>
            <td>{{ file.modified_by }}</td>
            <td class="sharing {{ file.sharing_type }}">{{ file.sharing }}</td>
            <td>
                {% set item_type = file.type == enum("\\PHPOneDrive\\FileType").Folder ? "folder" : "file" %}
                <button onclick="show_rename_dialog('{{ file.id }}', '{{ file.name }}')">Rename</button>
                <button onclick="show_delete_dialog('{{ file.id }}', '{{ file.name }}', '{{ item_type }}')">Delete</button>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="1"></td>
            <td colspan="6"><em>This folder is empty.</em></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="actions">
    <button onclick="show_upload_dialog()">Upload</button>
    <button onclick="show_new_folder_dialog()">New Folder</button>
</div>

<dialog id="rename_dialog">
    <form method="post">
        <p>Please enter the new name.</p>
        <p>
            <input type="text" name="new_name" size="40" autofocus />
            <input type="hidden" name="item_id" />
        </p>
        <div>
            <button type="submit" name="action" value="rename">Submit</button>
            <button value="cancel" formmethod="dialog">Cancel</button>
        </div>
    </form>
</dialog>

<dialog id="delete_dialog">
    <form method="post">
        <p name="file">
            Are you sure you want to delete the file <span class="item_name"></span>?
        </p>
        <p name="folder">
            Are you sure you want to delete the folder <span class="item_name"></span>?<br />
            This will also delete all files and subfolders!
        </p>
        <div>
            <button type="submit" name="action" value="delete">Yes, delete it</button>
            <button value="cancel" formmethod="dialog">No, don't delete it</button>
            <input type="hidden" name="item_id" />
        </div>
    </form>
</dialog>

<dialog id="upload_dialog">
    <form method="post" enctype="multipart/form-data">
        <p>Please choose the file you whish to upload.</p>
        <p><input type="file" name="file" /></p>
        <div>
            <button type="submit" name="action" value="upload">Upload</button>
            <button value="cancel" formmethod="dialog">Cancel</button>
        </div>
    </form>
</dialog>

<dialog id="new_folder_dialog">
    <form method="post">
        <p>Please enter the name of the new folder.</p>
        <p>
            <input type="text" name="folder_name" size="40" autofocus />
        </p>
        <div>
            <button type="submit" name="action" value="new_folder">Submit</button>
            <button value="cancel" formmethod="dialog">Cancel</button>
        </div>
    </form>
</dialog>
